@charset "UTF-8";

* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
  overflow: hidden;
}

body {
	margin: 0 0 0 0;
	padding: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #aaa;
	background-color: #333333;
	height:100%;
}

h1 {
	color: #719e40;
	letter-spacing: 2px;
	font-size: 5vw;
	height:5.2vw;
	font-weight: 200;
	margin-bottom: 0;
	margin-top: 20px;
	margin-left: 3vw;
	margin-right: 3vw;
	text-align: left;
	border-bottom: 1px solid #aaa;
}

.container {
	display: flex;
	overflow:auto;
	height:calc(100% - 8.5vw);
	margin: 3vw;
}

.container > div {
	font-size: 2vw;
	width: 100%;
}

.information { 
}